.text {

    background-color: rgb(241, 241, 241);
    margin-bottom: 5px;
    padding-top:250px;
    width:50vw;
    margin-top:70px;
    font-family:'Roboto',sans-serif;
    }
    
    .text2 {
    margin-top:30px;
    margin-right:440px;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    line-height: 30px;
    }
    .styleh1 {
    margin-right:630px;
    
    font-size:larger;
    font-weight: bolder;
    }
    .img {
    margin-top:7px;
    width:40vw;
    height:70vh;
    z-index: 7;
    }
    
    .flex-container {
    display:inline-flex;
    justify-content:right;
    width:1450px;
    
    }
    
    .column {
    background-color: rgb(241, 241, 241);
    width:30vw;
    margin-top:7px;
    height:92vh;
    padding-left: 150px;
    min-height:650px;
    
    }
    
    .block {
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    
    }
    
    a {
    text-decoration: none;
    }
    
    .element2 {
    text-align:left;
    
    }
    
    .elementflex {
    display:inline-flex;
    padding:10px;
    }

    @font-face {
        font-family: 'Gilroy Bold';
        src: url('Gilroy-Bold.eot');
        src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

    
    header {
    display: flex;
    font-family: 'Gilroy-Bold';
    font-weight: bold;
   
    
    }
    
    .header__nav {
    margin: 0 auto;
    position: relative;
    
    }
    
    .header__link {
    
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    margin: 0 20px;
    color: #262525;
    
    }
    
    .underline {
    height: 4px;
    background: #D88F5E;
    position: absolute;
    bottom: 0;
    left: 0;
    }
    
    
    
    
    
    body {
    
    font-family: 'Roboto', sans-serif;
    
    }
    
    .text2 {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-align:center;
    padding-left:50px;
    
    }
    
    .square {
    display:inline-flex;
    float:left;
    background-color: black;
    width:60px;
    height:60px;
    
    
    }
    
    .footerbox {
    
    text-align: center;
    }
    
    
    

    
    .footermst2018 {
    text-align:left;
    position:absolute;
    bottom:1%;
    }
    .s1 {
    padding:2px;
    margin:2px;
    position:absolute;
    left:50px;
    top:265px;
    }
    
    .s2 {
    padding:2px;
    margin:2px;
    position:absolute;
    left:50px;
    top:290px;
    }
    
    
    .s3 {
    padding:2px;
    margin:2px;
    position:absolute;
    left:50px;
    top:315px;
    }
    
    
    .p5 {
    position:absolute;
    top:1px;
    left:265px;
    
    }
    .button {
    
    display:inline-flex;
    float:right;
    z-index:9;
    }
    
    .main {
    display:flex;
    justify-content: right;
    margin-right:40px;
    flex-wrap: nowrap;
    z-index: 1;
    }
    
    .sidebar {
    margin-right:96px;
    text-align: left;
    margin-top:300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    
    }
    
    .sidebar__link {
    padding:23px;
    font-size: small;
    color:black;
    text-decoration: none;
    list-style-type: none;
    }
    
    .logo__square {
    position:absolute;
    right:25px;
    z-index: 12;
    }
    
    .logo__text {
    margin-right:120px;
    font-weight: bolder;
    margin-top:20px;
    }
    .rightlogo__text {
    font-weight: bolder;
    margin-left:120px;
    margin-top:20px;
    }
    
    .rightlogo__square {
    position:absolute;
    left:25px;
    z-index: 12;
    top:10px;
    }
    .main__link--active {
    text-decoration: underline 5px #D88F5E;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    
    }
    .header__link--active {
    text-decoration: underline 5px #D88F5E;
    padding-bottom:5px;
    }
    
    .oneofsix {
    margin-top: 100px;
    margin-right:500px;
    font-weight: lighter;
    color: rgb(175, 175, 175);
    }

     .points {
         margin-left:8px;
        margin-top: -100px;
     }